<!DOCTYPE html>
<html>
<head>
<title>web-yt-dl</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">web-yt-dl</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/malbert911/web-yt-dl">GitHub</a></li>
          </ul>
        </div>
      </nav>