<%- include('partials/header.ejs') %>
<h1>downloading</h1>
<div class="progress">
    <div class="indeterminate"></div>
</div>
<script src="downloading.js"></script>
<%- include('partials/footer.ejs') %>