<%- include('partials/header.ejs') %>
<h1>downloaded</h1>
<a class="waves-effect waves-light btn pulse" id="download-button">download</a>
<script src="downloaded.js"></script>
<%- include('partials/footer.ejs') %>