<!DOCTYPE html>
<html>
<head>
<title>web-yt-dl</title>
</head>
<body>
<h1>web-yt-dl</h1>
<form method="GET" action="download">
    <input name="url" placeholder="url"/>
    <select name="type">
        <option value="mp3">mp3</option>
        <option value="mp4">mp4</option>
    </select>
    <input type="submit" value="download"/>
</form>
</body>
</html>