<%- include('partials/header.ejs') %>
<h1>web-yt-dl</h1>
<form method="GET" action="download">
    <div class="row">

    
        <div class="input-field col s6">
            <label for="url">YouTube URL</label>
            <input id="url" name="url" type="text" required/>
        </div>
        <div class="input-field col s3">
            <select name="type" required>
                <optgroup label="Audio">
                    <option value="mp3">mp3</option>
                </optgroup>
                
                <optgroup label="Video and Audio">
                    <option value="mp4">mp4</option>
                </optgroup>
            </select>
        </div>
        <div class="input-field col s3">
            <button class="waves-effect waves-light btn" type="submit">Download</button>
        </div>
    </div>
</form>
<%- include('partials/footer.ejs') %>